@using System
@using System.Collections.Generic
@using fiphwinfo
@using System.Linq

@{
    Layout = "layout.cshtml";
}

<div class="main">


    @if (Model.CurrentCard == 0)
    {
        <div class="cardcaption">&#x25c0; HWInfo &#x25b6;</div>
    }
    else if (Model.CurrentCard == 1)
    {
        <div class="cardcaption">&#x25c0; HWInfo Charts &#x25b6;</div>
    }

</div>
